include ../../mixins/_item.pug

section.catalog__list
	section.catalog__list-info
		.catalog__list-info__title
			h1 Бананки
		.catalog__list-info__sort
			.catalog__list-info__sort-content
				span.sort
				select.sort-price#sort-price(name="sort-price")
					option(value="По цене" selected disabled) По цене
					option(value="От дорогих") От дорогих
					option(value="От дешевых") От дешевых
				select.sort-date#sort-date(name="sort-date")
					option(value="По дате" selected disabled) По дате
					option(value="От дорогих") От дорогих
					option(value="От дешевых") От дешевых
	section.catalog__list-content
		- for (let i = 0; i < 10; i++)
			+item()
		+itemPromotion()
