.line
	margin-top: 100px
	width: 100%
	white-space: nowrap
	overflow: hidden
	background-color: $secondary
	color: $font-color-secondary
	font-weight: 900
	&__list
		&-item
			font-size: 3rem
			margin-right: 50px
			&:after
				content: ''
				display: inline-block
				vertical-align: middle
				background-color: $primary
				width: 24px
				height: 24px
				border-radius: 24px
				margin-left: 50px
