// Base
// ---------------
$line-height: 1.5
$primary: #ffb900
$secondary: #222222
// ---------------
// Typography
// ---------------
$font: normal 1rem/100% 'Gotham Pro', sans-serif
$font-color-primary: #000000
$font-color-secondary: #ffffff
$font-color-gray: #999999
//
$h1-font: 900 4rem/100% 'Gotham Pro', sans-serif
$h2-font: bold 3rem/100% 'Gotham Pro', sans-serif
// ---------------
// Grid
// ---------------
$grid-width: calc(1670px - 30px)
// ---------------
// Breakpoints
// ---------------
// $breakpoints-sm: 576px
// $breakpoints-md: 768px
// $breakpoints-lg: 992px
// $breakpoints-xl: 1200px
// ---------------
// Header
// ---------------
// $header:
// ---------------
// Navigation
// ---------------
$nav-background: #ffffff
// ---------------
// Btn
// ---------------
$btn-background: #ee4035
$btn-font-color: #ffffff
$btn-font-size: 1rem
$btn-padding: 18px 30px
$btn-border-radius: 4px
$btn-dashed-background: transparent
$btn-dashed-color: #3b4450
$btn-dashed-border: 1px dashed #3b4450
// ---------------
// Footer
// ---------------
$footer-background: transparent
