.cart-popup.popup
	.popup__container
		.popup__container-content
			.cart-popup__list
				.cart-popup__list-item
					.cart-popup__list-item__image
						img(src="/img/items/item.png", alt="")
					.cart-popup__list-item__info
						.title Черная кожаная бананка с цепочкой бананка с цепочкой
						.color
							span(style="background-color: #000;")
						.size Взрослая
					.cart-popup__list-item__price
						.count 1
						.price
							span 425
							|
							|грн.
					.cart-popup__list-item__delete
						span.delete
				.cart-popup__list-item
					.cart-popup__list-item__image
						img(src="/img/items/item.png", alt="")
					.cart-popup__list-item__info
						.title Черная кожаная бананка с цепочкой бананка с цепочкой
						.color
							span(style="background-color: blue;")
						.size Взрослая
					.cart-popup__list-item__price
						.count 1
						.price
							span 425
							|
							|грн.
					.cart-popup__list-item__delete
						span.delete
			.cart-popup__gift
			.cart-popup__fullprice
				| Всего:
				|
				span 1170
				|
				| грн.
			.cart-popup__order
				a.btn.btn-primary(href="#")
					span.link-background
					span.link-title Оформить заказ
