.search-popup.popup
	.popup__container
		.popup__container-content
			section.search-popup__form
				.form-group
					input.input-search(type="text", placeholder="Что бы вы хотели найти? :)")
					button.btn-search
						img(src="/img/icon/search.svg", alt="пошук")
			section.search-popup__result
				.search-popup__result-list
					article.search-popup__result-list__item
						.image
							img(src="/img/items/search.png", alt="")
						.title Черная кожаная бананка с цепочкой
						.card__bottom
							.colors
								span.color(style="background-color: red;")
								span.color(style="background-color: blue;")
								span.color(style="background-color: black;")
								span.color(style="background-color: pink;")
								span.color(style="background-color: yellow;")
							.price
								span 425
								|
								| грн.
					article.search-popup__result-list__item
						.image
							img(src="/img/items/search.png", alt="")
						.title Черная кожаная бананка с цепочкой
						.card__bottom
							.colors
								span.color(style="background-color: red;")
								span.color(style="background-color: blue;")
								span.color(style="background-color: black;")
								span.color(style="background-color: pink;")
								span.color(style="background-color: yellow;")
							.price
								span 425
								|
								| грн.
					article.search-popup__result-list__item
						.image
							img(src="/img/items/search.png", alt="")
						.title Черная кожаная бананка с цепочкой
						.card__bottom
							.colors
								span.color(style="background-color: red;")
								span.color(style="background-color: blue;")
								span.color(style="background-color: black;")
								span.color(style="background-color: pink;")
								span.color(style="background-color: yellow;")
							.price
								span 425
								|
								| грн.
					article.search-popup__result-list__item
						.image
							img(src="/img/items/search.png", alt="")
						.title Черная кожаная бананка с цепочкой
						.card__bottom
							.colors
								span.color(style="background-color: red;")
								span.color(style="background-color: blue;")
								span.color(style="background-color: black;")
								span.color(style="background-color: pink;")
								span.color(style="background-color: yellow;")
							.price
								span 425
								|
								| грн.
					article.search-popup__result-list__item
						.image
							img(src="/img/items/search.png", alt="")
						.title Черная кожаная бананка с цепочкой
						.card__bottom
							.colors
								span.color(style="background-color: red;")
								span.color(style="background-color: blue;")
								span.color(style="background-color: black;")
								span.color(style="background-color: pink;")
								span.color(style="background-color: yellow;")
							.price
								span 425
								|
								| грн.

