//- import styles
link(rel="stylesheet", href="/style/normalize.css")
link(rel="stylesheet", href="/style/slick-theme.css")
link(rel="stylesheet", href="/style/slick.css")
link(rel="stylesheet", href="/style/leaflet.css")
link(rel="stylesheet", href="/style/ion.rangeSlider.css")
link(rel="stylesheet", href="/style/main.min.css")
//- import javascript
script(src="/js/jquery.min.js")
script(src="/js/jquery.marquee.min.js")
script(src="/js/slick.min.js")
script(src="/js/leaflet.js")
script(src="/js/ion.rangeSlider.min.js")
script(src="/js/bundle.min.js")
