//- import styles
link(rel="stylesheet", href="/style/lib/normalize.css")
link(rel="stylesheet", href="/style/main.min.css")
//- import javascript
script(src="/js/lib/jquery.slim.min.js")
script(src="//cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js")
script(src="/js/bundle.min.js")
