main.container
	include ../section/about/info.pug
	include ../section/about/main.pug
	include ../section/index/contact.pug
	//- Include popups
	include ../section/popup/cart.pug
	include ../section/popup/search.pug
