main.container.card
	include ../section/card/info.pug
	include ../section/card/description.pug
	include ../section/card/image.pug
	include ../section/card/prize.pug
	include ../section/card/like.pug
	//- Include popups
	include ../section/popup/cart.pug
	include ../section/popup/search.pug
