main.container.catalog
	include ../section/catalog/catalog.pug
	include ../section/catalog/filters.pug
	include ../section/catalog/description.pug
	//- Include popups
	include ../section/popup/cart.pug
	include ../section/popup/search.pug
