include ../mixins/_item.pug
include ../mixins/_input.pug

main.container.catalog
	section.section.catalog__list
		section.section.catalog__list-info
			.catalog__list-info__title
				h1 Бананки
			.catalog__list-info__sort
				span.sort 1
				span.sort-price 2
				span.sort-date 3
		section.section.catalog__list-content
			- for (let i = 0; i < 10; i++)
				+item()
	aside.aside.catalog__filter
		.catalog__filter-price
			.catalog__filter-price__title Цена
				input#price(type="range", name="price")
		.catalog__filter-type
			+checkbox('cloth', 'cloth', 'Ткань')
			+checkbox('leather', 'leather', 'Кожа')
		.catalog__filter-color
			+checkbox('multicolor', 'multicolor', 'Разноцветные')
			+checkbox('singlecolor', 'singlecolor', 'Однотонные')
		.catalog__filter-size
			+checkbox('adults', 'adults', 'Взрослые')
			+checkbox('children', 'children', 'Детские')
		.catalog__filter-date
			+checkbox('new', 'new', 'Новинки')
			+checkbox('stock', 'stock', 'Акции')
		.catalog__filter-sex
			+checkbox('woman', 'woman', 'Женские')
			+checkbox('man', 'man', 'Мужские')
	section.section.catalog__description
		h3.catalog__description-title Бананка как стильный и удобный аксессуар
		p.catalog__description-text Знаете, что общего у фестивалей, вечернего променада или вечеринки на выходных? Все эти мероприятия пройдут гораздо комфортнее с сумкой-бананкой. Несмотря на такое смешное название, бананка – очень даже серьезный аксессуар, который уже покорил многих. Свои истоки такая разновидность сумок берет в 90-х. В основном их носили продавцы на рынке, которые раньше остальных оценили их удобство. Хорошо, что сумкам на пояс удалось выбраться за рамки торговли и надолго поселиться в гардеробе стильных девушек и парней.
		h3.catalog__description-title Преимущества бананок
		p.catalog__description-text Отличительными чертами такой сумки являются ее компактные размеры, удлиненная форма и, конечно же, максимальная практичность. Бананка имеет регулируемый ремень, благодаря которому сумку можно носить на поясе или перекинуть через плечо – как вам будет удобнее. Но и на этом ее плюсы не заканчиваются. Бананки оснащены достаточным количеством карманов, поэтому держать свои мелкие вещи в порядке – проще простого. При всех своих очевидных преимуществах бананки имеют еще один весомый бонус - цену. Стоимость данного аксессуара позволяет без проблем иметь несколько моделей на все случаи жизни. Что, согласитесь, не может не радовать. Сумки на пояс зачастую изготавливаются из полиэстера. Такой выбор материала объясняется его износоустойчивостью, практичностью, легкостью и простотой ухода. Но сегодня все чаще можно увидеть бананки из кожи или эко-кожи. Такие модели выглядят более презентабельно, поэтому любители барсеток могут обратить внимание на данные сумки. С такими бананками ваши вещи всегда будут под рукой, а вы при этом будете выглядеть более актуально и стильно.
		p.catalog__description-text Монохромные, контрастные, с цветочками, геометрическими узорами или совсем неожиданным принтом – бананки бывают разные. Такое разнообразие вариантов дает возможность комбинировать аксессуар с разной одеждой, начиная от спортивного костюма и заканчивая платьем принцессы.
		h3.catalog__description-title Сумки на пояс для всех и каждого
		p.catalog__description-text Хотя бананка очень самодостаточный элемент гардероба, но она неплохо работает и в тандеме. Например, в путешествиях с рюкзаком или дорожной сумкой. В таком случае бананка становится просто идеальным местом для хранения билетов, документов, денег и прочих необходимых вещей для путешественников. Если думаете, что бананки – удел демократичной молодежи, то вы ошибаетесь. Селебрити и звезды Голливуда тому яркое подтверждение. Рианна, Джаред Лето, Сара Джессика Паркер и другие не пренебрегают выходом в свет с сумками на пояс. Так чем вы хуже?
		p.catalog__description-text Благодаря своей популярности, купить сумку бананку в Украине, и в частности в Киеве, не составляет труда. Наш сайт, который предлагает большой выбор разнообразных сумок на пояс, способствует быстрой и удобной покупке. Для этого достаточно выбрать понравившуюся модель, оплатить заказ, и уже в скором времени вы сможете выгулять свою новую бананку. Так что не откладывайте на завтра то, что можно купить уже сегодня!
