main
	include ../section/index/info.pug
	include ../section/index/category.pug
	include ../section/index/line.pug
	include ../section/index/corporate.pug
	include ../section/index/about.pug
	include ../section/index/contact.pug
	//- Include popups
	include ../section/popup/cart.pug
	include ../section/popup/search.pug
