main
	include ../section/index/info.pug
	include ../section/index/category.pug
	include ../section/index/line.pug
	//- include ../section/index/info.pug
	//- include ../section/index/info.pug
	//- include ../section/index/info.pug
