//- start footer
footer.footer
	.container
		.footer__menu
			.footer__menu-list
				.footer__menu-list__item
					a(href="#").footer__link Бананки
				.footer__menu-list__item
					a(href="#").footer__link Рюкзаки
				.footer__menu-list__item
					a(href="#").footer__link Сумки
				.footer__menu-list__item
					a(href="#").footer__link Одежда
				.footer__menu-list__item
					a(href="#").footer__link Аксессуары
			.footer__menu-list
				.footer__menu-list__item
					a(href="#").footer__link Корпоративные заказы
				.footer__menu-list__item
					a(href="#").footer__link Доставка и оплата
				.footer__menu-list__item
					a(href="#").footer__link О нас
				.footer__menu-list__item
					a(href="#").footer__link Контакты
				.footer__menu-list__item
					a(href="#").footer__link Партнерам
		.footer__contact
			.footer__contact-list
				.footer__contact-list__item
					a(href="mailto:twinsstore.ua@gmail.com" target="_blank").footer__link twinsstore.ua@gmail.com
				.footer__contact-list__item
					a(href="tel:+380734033642" target="_blank").footer__link +38 (073) 4033 642
					span
						|
						|– Валерия, менеджер по розничным заказам
				.footer__contact-list__item
					a(href="tel:+380955178138" target="_blank").footer__link +38 (095) 5178 138
					span
						|
						|– Анастасия, по вопросам сотрудничества
				.footer__contact-list__item
					a(href="/contacts").footer__link ул. Крещатик 46A
				.footer__contact-list__item Пн.-Сб.: 12:00 – 20:00, 13:00 – 14:00 – перерыв. Вс.: выходной
		.footer__info
			.footer__info-language
				a(href="/ru/") RU
				a(href="/ua/") UA
			.footer__info-social
				a(href="#" target="_blank")
					img(src="/img/icon/instagram.svg", alt="twins store instagram")
				a(href="#" target="_blank")
					img(src="/img/icon/facebook.svg", alt="twins store facebook")
				a(href="#" target="_blank")
					img(src="/img/icon/etsy.svg", alt="twins store etsy")
			.footer__info-copyright © Twins Store 2019
//- end footer
