header.header
	.container
		.header__logotype
			a(href="/").header__logotype-link
				img.header__logotype-image(src="/img/logo.svg", alt="twins store")
		nav.header__nav
			.header__nav-dropdown
				a.header__nav-link(href="/catalog.html") Каталог
				.header__nav-dropdown__list
					a.header__nav-dropdown__list-item(href="#") Бананки
					a.header__nav-dropdown__list-item(href="#") Рюкзаки
					a.header__nav-dropdown__list-item(href="#") Сумки
					a.header__nav-dropdown__list-item(href="#") Одежда
					a.header__nav-dropdown__list-item(href="#") Аксессуары
			a.header__nav-link(href="/corporates.html").header__nav-link__active Корпоративные заказы
			a.header__nav-link(href="/delivery.html") Доставка и оплата
			a.header__nav-link(href="/about.html") О нас
			a.header__nav-link(href="/contacts.html") Контакты
			a.header__nav-search
				img.header__nav-search-image(src="/img/icon/search.svg", alt="")
		.header__cart
			.header__cart-action
				img.header__cart-image(src="/img/icon/cart.svg", alt="")
	.header__after
		.container
			.header__after-text
				span Бесплатная доставка по Украине при заказе двух и более товаров!
			.header__after-language
				a(href="/ru/") RU
				a(href="/ua/") UA
