.top
	.container
		.top__text
			span Бесплатная доставка по Украине при заказе двух и более товаров!
		.top__language
			a(href="/ru/" aria-active="true") RU
			a(href="/ua/" aria-active="false") UA
