extends base/base.pug
block title
	|Twins Store
block header
	include section/header.pug
block content
	include page/card.pug
block footer
	include section/footer.pug
block import
	include base/import.pug
