extends base/base.pug
block title
	|Catalog - Twins Store
block header
	include section/header.pug
block content
	include page/catalog.pug
block footer
	include section/footer.pug
block script
	include base/script.pug
