section.section.about.container
	.about__container
		.about__container-logo
			img(src="/img/logo_round-orange.svg", alt="")
		.about__container-image
			img(src="/img/about.png", alt="")
		.about__container-description
			.title
				h2 О Нас
			.description Twins Store — это бананки и рюкзаки ручной работы. Нам нравится быть в движении целый день, а для этого больше всего подходит рюкзак или бананка. Мы любим свободу. Если вы тоже — нам по пути.
			.button
				a(href="#") Подробнее
