section.section.category
	.category__list
		.category__list-item
			a(href="#")
				.title Бананки
				.image
					img(src="/img/category/banan.png", alt="")
		.category__list-item
			a(href="#")
				.title Рюкзаки
				.image
					img(src="/img/category/bag.png", alt="")
		.category__list-item
			a(href="#")
				.title Сумки
				.image
					img(src="/img/category/bag2.png", alt="")
		.category__list-item
			a(href="#")
				.title Одежка
				.image
					img(src="/img/category/socks.png", alt="")
		.category__list-item
			a(href="#")
				.title Аксессуары
				.image
					img(src="/img/category/pin.png", alt="")
