section.section.contact.container
	.contact__info
		.title
			h2 Магазин
		address.address
			p ул. Крещатик 46A
			p
				a(href="tel:+380734033642") +38 (073) 4033 642
			p
				a(href="mailto:twinsstore.ua@gmail.com") twinsstore.ua@gmail.com
			br
			p Пн.-Сб.: 12:00 – 20:00
			p 13:00-14:00 – перерыв
			p Вс.: выходной
	.contact__map
		.map
			#twinsMap
			.circle
		.image
			img(src="/img/contact.png", alt="twins store")

