section.section.corporate.container
	.corporate__info
		.corporate__info-title
			h2 Корпоративные заказы
		.corporate__info-description Пошьем на заказ бананку, рюкзак или шопер от 10 штук. Вы можете заказать любой цвет, материал, принт или нашивку.
		.corporate__info-button
			a.btn.btn-primary(href="/corporate")
				span.link-background
				span.link-title Подробнее
	.corporate__images
		.corporate-carousel
			.item
				.image
					img(src="/img/corp.jpg", alt="")
			.item
				.image
					img(src="/img/corp.jpg", alt="")
			.item
				.image
					img(src="/img/corp.jpg", alt="")
			.item
				.image
					img(src="/img/corp.jpg", alt="")
