section.section.info
	.info__container
		.info__title
			h1 Бананки и рюкзаки ручной работы
		.info__image
			img.info__image-main(src="/img/info.jpg", alt="")
			img.info__image-animation(src="/img/logo_round.svg", alt="")
		.info__category
			.info__category-link
				a(href="#") Бананки
			.info__category-link
				a(href="#") Рюкзаки
			.info__category-link
				a(href="#") Сумки
			.info__category-link
				a(href="#") Одежда
			.info__category-link
				a(href="#") Аксессуары
