section.delive
	header
		h2.delive__header Доставка
	article.delive__description
		.delive__description-text
			.text-first
				p Для покупателей из Украины есть варианты доставки:
				ul
					li Новой почтой
					li cамовывоз из магазина: Киев, ул. Крещатик 46а
				p При заказе двух или более товаров доставка по Украине бесплатная!
			.text-second
				p Во все остальные страны мира отправляем авиапочтой.
				p Чтобы узнать стоимость и время доставки в вашу страну, напишите нашему менеджеру по розничным заказам Валерии: twinsstore.ua@gmail.com.
		.delive__description-image
			img(src="/img/delivery.png", alt="")
			img.img-delivery-logo(src="/img/logo_round_black.png", alt="")

