section.payment
	header
		h2.payment__header Оплата
	article.payment__description Вы можете оплатить покупку:
		ul
			li на карту ПриватБанка
			li через LiqPay
			li наложенным платежом, при доставке Новой почтой
			li наличными при самовывозе
