mixin item()
	.item__card
		.item__card-image
			a(href="#")
				img(src="/img/items/search.png", alt="")
		.item__card-title
			a(href="#")
				h2 Черная кожаная бананка с цепочкой
		.item__card-bottom
			.item__card-bottom__colors
				span.color(style="background-color: red;")
				span.color(style="background-color: blue;")
				span.color(style="background-color: black;")
				span.color(style="background-color: pink;")
				span.color(style="background-color: yellow;")
			.item__card-bottom__price
				span 425
				|
				| грн.
