*
	box-sizing: border-box

body
	font: $font
	color: $font-color-primary
	line-height: $line-height
	scroll-behavior: smooth
	overflow-x: hidden

a
	color: $font-color-primary
	transition: ease .3s all
	text-decoration: none
	&:hover
		text-decoration: none
		outline: none

a,
button,
input,
textarea,
select
	&:focus
		border: none
		outline: none

.container
	position: relative
	max-width: $grid-width
	margin: auto

main
	padding-top: 30px
	padding-bottom: 30px

h2
	font: $h2-font
	margin: 0

@media (max-width: 1536px)
	.container
		max-width: calc(1400px - 30px)
@media (max-width: 1440px)
	.container
		max-width: calc(1200px - 30px)
// @media (max-width: 1366px)
// @media (max-width: 1280px)
// @media (max-width: 1024px)
