body
	font: $font
	color: $font-color-primary
	line-height: $line-height
	overflow-y: auto
	overflow-x: hidden
	scroll-behavior: smooth

a
	transition: ease .3s all
	text-decoration: none
	&:hover
		text-decoration: none
		outline: none

a,
button,
input,
textarea,
select
	&:focus
		border: none
		outline: none
