@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../fonts/Bebas/BebasNeueCyrillic.eot');
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/Bebas/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bebas/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/Bebas/BebasNeueCyrillic.woff') format('woff'),
        url('../fonts/Bebas/BebasNeueCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
