@font-face {
	font-family: 'Gotham Pro';
	font-display: swap;
    src: url('../font/GothamPro/GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'),
        url('../font/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamPro/GothamPro.woff') format('woff'),
        url('../font/GothamPro/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
	font-display: swap;
    src: url('../font/GothamPro/GothamPro-Medium.eot');
    src: local('Gotham Pro Medium'), local('GothamProMedium'),
        url('../font/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamPro/GothamPro-Medium.woff') format('woff'),
        url('../font/GothamPro/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
	font-display: swap;
    src: url('../font/GothamPro/GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamProBold'),
        url('../font/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamPro/GothamPro-Bold.woff') format('woff'),
        url('../font/GothamPro/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
	font-display: swap;
    src: url('../font/GothamPro/GothamPro-Black.eot');
    src: local('Gotham Pro Black'), local('GothamProBlack'),
        url('../font/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamPro/GothamPro-Black.woff') format('woff'),
        url('../font/GothamPro/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
