.tab
	display: flex
	flex-direction: column
	&-list
		width: 100%
		display: flex
		&__item
			flex: 1 calc(100% / 5)
			max-width: calc(100% / 5)
			text-align: center
			padding: 25px 0
			&:hover
				cursor: pointer
			&[aria-active="true"]
				font-weight: bold
				background-color: $primary
			&[aria-active="false"]
				font-weight: normal
	&-content
		min-height: 1px
		border: 2px solid $primary
		padding: 25px
		width: 100%
		&__item
			min-height: 1px
			p
				margin: 0
				&:not(:last-of-type)
					margin-bottom: 10px
			&[aria-hidden="true"]
				display: none
			&[aria-hidden="false"]
				display: block
