section.card__description
	.tab.tab-card
		.tab-list
			.tab-list__item(data-tab-id="1", aria-active="true") Описание
			.tab-list__item(data-tab-id="2", aria-active="false") Доставка и оплата
			.tab-list__item(data-tab-id="3", aria-active="false") Гарантия
			.tab-list__item(data-tab-id="4", aria-active="false") Отзывы (3)
			.tab-list__item(data-tab-id="5", aria-active="false") Возврат
		.tab-content
			.tab-content__item(data-tab-id="1", aria-hidden="false")
				p Бананка ручной работы, сделанная в Украине.
				p Кожа PU – это, безусловно, совсем не то, что было известно нам с детства как дермантин. Естественно, PU-кожа также и не является точной копией натуральной кожи, хотя по внешним характеристикам очень на нее похожа.
				p Свойства этого вида кожзаменителя: морозостойкость, устойчивость к механической нагрузке, эластичность, сверхпрочность (в отличие от натуральной кожи, изделие из PU-кожи вряд ли когда-либо порвется), отсутствие запаха, мягкость
			.tab-content__item(data-tab-id="2", aria-hidden="true")
				p Бананка ручной работы, сделанная в Украине.
				p Кожа PU – это, безусловно, совсем не то, что было известно нам с детства как дермантин. Естественно, PU-кожа также и не является точной копией натуральной кожи, хотя по внешним характеристикам очень на нее похожа.
				p Свойства этого вида кожзаменителя: морозостойкость, устойчивость к механической нагрузке, эластичность, сверхпрочность (в отличие от натуральной кожи, изделие из PU-кожи вряд ли когда-либо порвется), отсутствие запаха, мягкость
			.tab-content__item(data-tab-id="3", aria-hidden="true")
				p Бананка ручной работы, сделанная в Украине.
				p Кожа PU – это, безусловно, совсем не то, что было известно нам с детства как дермантин. Естественно, PU-кожа также и не является точной копией натуральной кожи, хотя по внешним характеристикам очень на нее похожа.
				p Свойства этого вида кожзаменителя: морозостойкость, устойчивость к механической нагрузке, эластичность, сверхпрочность (в отличие от натуральной кожи, изделие из PU-кожи вряд ли когда-либо порвется), отсутствие запаха, мягкость
			.tab-content__item(data-tab-id="4", aria-hidden="true")
				p Бананка ручной работы, сделанная в Украине.
				p Кожа PU – это, безусловно, совсем не то, что было известно нам с детства как дермантин. Естественно, PU-кожа также и не является точной копией натуральной кожи, хотя по внешним характеристикам очень на нее похожа.
				p Свойства этого вида кожзаменителя: морозостойкость, устойчивость к механической нагрузке, эластичность, сверхпрочность (в отличие от натуральной кожи, изделие из PU-кожи вряд ли когда-либо порвется), отсутствие запаха, мягкость
			.tab-content__item(data-tab-id="5", aria-hidden="true")
				p Бананка ручной работы, сделанная в Украине.
				p Кожа PU – это, безусловно, совсем не то, что было известно нам с детства как дермантин. Естественно, PU-кожа также и не является точной копией натуральной кожи, хотя по внешним характеристикам очень на нее похожа.
				p Свойства этого вида кожзаменителя: морозостойкость, устойчивость к механической нагрузке, эластичность, сверхпрочность (в отличие от натуральной кожи, изделие из PU-кожи вряд ли когда-либо порвется), отсутствие запаха, мягкость
