section.about-info
	.about-info__container
		.about-info__container-description
			header.about-info__container-title
				h2 О Нас
			article.description Twins Store — это бананки и рюкзаки ручной работы. Нам нравится быть в движении целый день, а для этого больше всего подходит рюкзак или бананка.
		.about-info__container-logo
			img(src="/img/logo_round_yellow.png", alt="")
		.about-info__container-image
			img(src="/img/about.png", alt="")
