section.about-main
	article.about-main__item
		.about-main__item-image
			img(src="/img/aboutus/bananka.png", alt="")
		.about-main__item-text
			div Мы создали Twins Store в 2016 году. Тогда мы долго искали идеальную бананку, и в итоге сделали ее сами. А теперь делаем их для вас.
	article.about-main__item.swap
		.about-main__item-image
			img(src="/img/aboutus/1.png", alt="")
		.about-main__item-text
			div Каждая наша модель сшита вручную. Для нас важны детали: от ровных стежков до свежих решений в дизайне.
	article.about-main__slogan Мы любим свободу. Если вы тоже — нам по пути!
